#fila1{
    background-color: antiquewhite;
}
#fila1v{
    background-color: antiquewhite;
}
body {
    background-color: #eee;
}
#botonSearch{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
    